body{
    background-color: white;
}
.dashboard-box{
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-bottom: 50%;
}
.dashboard-card{
    width:15vw;
    background-color:#6a5acd !important ;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.card-title{
    color: grey;
}